body
{
    background-color: mistyrose;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title 
{
    text-align: center;
    color: darksalmon;
}

.food-picture
{
    display: block;
    margin: 20px auto;
}

.description.header
{
    text-align: center;
}
.list
{
    text-align: left;
}


