*
{
    box-sizing: border-box;
}

body
{
    background-color: mistyrose;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title
{
    color: darksalmon;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
}

.list
{
    background-color: mistyrose
    padding: 50px;
}

ul
{
    list-style: none;
}

.list .list-item
{
    display: block;
    margin: 50px;
    padding: 5px;
    color: darksalmon;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 100px;
}
a:link
{
    text-decoration: none;
}

a:active
{
    text-decoration: none;
}

a:visited
{
    text-decoration: none;
}

.list .list-item:hover
{
    color: #e1b382;
    background-color: antiquewhite;
}